---

---

<section class='mb-8'>
  <div class='mb-6'>
    <h1
      class='font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden'
    >
      <span
        class='bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue'
      >
        Hi there!
      </span>
    </h1>
  </div>
  <div>
    <p class='mb-5'>
      My name is <strong>Khai</strong>!
    </p>
    <p class='mb-5'>
      I am a full-stack software engineer who is passionate about software
      engineering and enjoys working in a team of talented people who I can
      learn from.
    </p>
    <p class='mb-5'>
      I started out building a loan originating system using .NET Framework and
      Windows Presentation Foundation. Then I switched over to building websites
      and backend web APIs and never looked back. I've worked on the full stack
      of the software development process.
    </p>
    <p class='mb-5'>
      Currently, I'm working at <a href='https://blinkhealth.com'
        >blinkhealth.com</a
      > and building a backend web API for managing patient's prescriptions, using
      Postgres, Django (with Django REST Framework), with a little bit of React JS.
    </p>
  </div>
</section>
